@import url("https://fonts.googleapis.com/css?family=Varela+Round");

.top
{
    display: grid;
    grid-template-columns: 7% 93%;
}

html
{
    box-sizing: border-box;
}

/*
*,
*:before,
*:after
{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    letter-spacing: 1.1px;
}*/

header
{
    width: 100%;
    height: 100%;
    /*background: #1c1d22;*/
    background: white;
    font-family: "Varela Round", "sans-serif";
}

.menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    margin: 0 auto;
    list-style: none;
}

.menu li
{
    width: 125px;
    height: 50px;
    /*width: 200px;
    height: 50px;
    */
    transition: backgound-position-x 0.9s linear;
    text-align: center;
   margin-top: 20px;
}

.menu li a
{
    font-size: 22px;
    color: #777;
    text-decoration: none;
    transition: all 0.45s;
    text-align: center;
}

.menu li:hover
{
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 2s;
}

.menu li:hover a
{
    color: #d94f5c;
}

.menu li:not(:last-child)
{
    margin-right: 70px;
}

@keyframes line
{
    0%
    {
        background-position-x: 390px;
    }
}
/*******************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

#all
{
    background-image: url(../pictures/back-log.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 610px;
}

main
{
    width: 100%;
    padding: 100px;
    margin: auto;
}

.contenedor__todo
{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera
{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);
}

.caja__trasera div
{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera div button
{
    margin-top: 30px;
}

.caja__trasera div h3
{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button
{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transform: all 300ms;
}

.caja__trasera button:hover
{
    background: #fff;
    color: #46A2FD;
}

/* FORMULARIOS */

.contenedor__login-register
{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /* ANIMACIÓN */

    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form
{
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2
{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

.contenedor__login-register form input
{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button
{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    color: white;
    cursor: pointer;
    outline: none;
}

.formulario__login
{
    opacity: 1;
    display: block;
}

.formulario__register
{
    display: none;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 850px)
{
    main    
    {
        margin-top: 50px;
    }

    .caja__trasera
    {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div
    {
        margin: 0px;
        position: absolute;
    }

    /* FORMULARIO */

    .contenedor__login-register
    {
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form 
    {
        position: relative;
    }
}